*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
div{
    width: 300px;
    height: 290px;
    background-color: olive;
    margin: 20px;
    border-radius: 110px;
    animation: orange 13s ;
    padding-top: 50px;
}

section{
    background-color:olive;
    width: 40px;
    height: 40px;
    margin: 88px;
    margin-top: 33px;
    padding: 40px;
    border-radius: 200px;
    border: 20px white solid;
}