*{
    box-sizing: border-box;
    padding: 10;
    margin: 0;
}
p{
    font-size: 24px;
}
p::first-letter{
    color: red;
    font-size: xx-large;
}
p::first-line{
    color: rebeccapurple;
    font-variant:small-caps;
}
p::before {
    content: url(smile);
  }
  ::marker{
    color: brown;
  }
